<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="robot" default="X1"/>
    <arg name="robot_type" default="explorer_x1" doc="Robot type, from {absolem, dtr, explorer_x1, marv, x1, x2}."/>
    <arg name="world_name" default="simple_cave_01"/>
    <arg name="trajopt" default="false"/>
<!--    <arg name="bag" default="$(find rpz_planning)/data/bags/$(arg robot_type)_opt_path_$(arg trajopt)_$(arg world_name).bag"/>-->
    <arg name="bag" default="$(find rpz_planning)/data/bags/explorer_x1_opt_path_false_simple_cave_02_2021-05-28-14-01-15.bag"/>
    <arg name="rviz" default="true"/>
    <arg name="start" default="0.0"/>
    <arg name="rate" default="1.0"/>

    <param name="use_sim_time" value="true" />

    <!--
        Workaround for /tf_static problems with rosbag.
        TODO Watch https://github.com/ros/geometry2/issues/181
    -->
    <node name="play_tf_static" pkg="nifti_vision_data" type="play_tf_static"
         args="$(arg bag)" output="log">
        <remap from="~tf_static" to="/tf_static"/>
    </node>

    <!-- ROSBAG -->
    <node name="rosbag_play_rpz" pkg="rosbag" type="play" output="screen"
          args="--clock --pause -k -d 3.0 -s $(arg start) -r $(arg rate) $(arg bag)">
    </node>

    <!-- MAP accumulator -->
    <node ns="$(arg robot)" name="map_accumulator" pkg="rpz_planning" type="map_accumulator.py" output="screen">
        <remap from="local_map" to="updated_map"/>
    </node>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(dirname)/../rviz/map_accum.rviz"/>
</launch>
