<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="robot" default="X1"/>
    <arg name="robot_type" default="marv"/>
   <arg name="bag" default="$(find rpz_planning)/data/marv_2021-04-29-12-48-13.bag"/>-->
<!--     <arg name="bag" default="$(find rpz_planning)/data/bags/trajopt_input/explorer_x1_2021-06-03-09-59-43.bag"/> -->
    <arg name="rviz" default="true"/>
    <arg name="start" default="0.0"/>
    <arg name="rate" default="1.0"/>
    <arg name="trajopt_iters" default="25"/>
    <arg name="debug_trajopt" default="true"/>
    <arg name="rewards_accum" default="false"/>

    <param name="use_sim_time" value="true"/>

    <!--
        Workaround for /tf_static problems with rosbag.
        TODO Watch https://github.com/ros/geometry2/issues/181
    -->
    <node name="play_tf_static" pkg="nifti_vision_data" type="play_tf_static"
         args="$(arg bag)" output="log">
        <remap from="~tf_static" to="/tf_static"/>
    </node>

    <!-- ROSBAG -->
    <node name="rosbag_play_rpz" pkg="rosbag" type="play"
          args="--clock -k -d 3.0 -s $(arg start) -r $(arg rate) $(arg bag)">

        <remap if="$(eval 'marv' in robot_type.lower())"
               from="/$(arg robot)/local_map_slow" to="/$(arg robot)/local_map"/>

        <remap if="$(eval 'explorer_x1' in robot_type.lower())"
               from="/$(arg robot)/local_map_slow" to="/$(arg robot)/local_map"/>

        <remap if="$(eval 'tradr' in robot_type.lower())"
               from="/traversability" to="/$(arg robot)/traversability"/>
        <remap if="$(eval 'tradr' in robot_type.lower())"
               from="/path" to="/$(arg robot)/path"/>
        <remap if="$(eval 'tradr' in robot_type.lower())"
               from="/traversability" to="/$(arg robot)/local_map"/>
    </node>

    <!-- RPZ planner -->
    <include ns="$(arg robot)" file="$(dirname)/rpz_planner.launch"
             pass_all_args="true">
        <arg name="robot_type" value="$(arg robot_type)"/>
        <arg name="trajopt_iters" value="$(arg trajopt_iters)"/>
    </include>

<!--    <include ns="$(arg robot)" file="$(dirname)/actual_reward.launch" pass_all_args="true"/>-->

    <!-- Rewards accumulator -->
    <include if="$(arg rewards_accum)"
             ns="$(arg robot)" file="$(dirname)/rewards_accumulator.launch"
             pass_all_args="true">
            <arg name="reward_cloud_topic" value="reward_cloud"/>
    </include>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(dirname)/../config/$(arg robot_type).rviz"/>
</launch>
