<launch>
    <arg name="robot" default="X1"/>
    <arg name="local_cloud_topic" default="/local_cloud_from_gt_mesh"/>
    <arg name="odom_topic" default="ground_truth_odom"/>
    <arg name="filter_cloud" default="true"/>
    <arg name="grid_res" default="0.2"/>
    <arg name="bag" default="$(find rpz_planning)/data/bags/traversability/gt_local_map_20cm.bag"/>
    <arg name="bag_rate" default="1.0"/>
    <arg name="bag_start" default="0.0"/>
    <arg name="rviz" default="true"/>

    <param name="use_sim_time" value="true"/>

    <!-- Workaround for /tf_static problems with rosbag: https://github.com/ros/geometry2/issues/181 -->
    <node name="play_tf_static" pkg="nifti_vision_data" type="play_tf_static"
         args="$(arg bag)" output="log">
        <remap from="~tf_static" to="/tf_static"/>
    </node>

    <!-- ROSBAG -->
    <node name="rosbag_play_rpz" pkg="rosbag" type="play"
          args="--clock --pause -s $(arg bag_start) -r $(arg bag_rate) $(arg bag)">
    </node>

    <include file="$(find nifti_drivers_launchers)/launch/tf_server.launch">
        <arg name="tf_prefix" value="$(arg robot)/" />
    </include>

    <include file="$(find tradr_odometry)/launch/base_link_leveller.launch">
        <arg name="tf_prefix" value="$(arg robot)/" />
    </include>

    <node if="$(arg filter_cloud)" name="box_filter" pkg="cloud_proc" type="cloud_proc" output="screen">
        <rosparam param="filters" subst_value="true">
            - cloud_proc.DiscardOld:
                max_age: 5.0
            - cloud_proc.Box:
                keep: 1
                lower: [-13.0, -13.0, -2.5]
                upper: [ 13.0,  13.0,  1.5]
                fields: ["x", "y", "z"]
                timeout: 1.0
                frame: $(arg robot)/base_link_zero_roll_pitch
<!--                frame: $(arg robot)/base_link-->
        </rosparam>

        <remap from="in" to="$(arg local_cloud_topic)"/>
        <remap from="out" to="$(arg local_cloud_topic)_bigbox"/>
    </node>

    <node name="prepare_data_s2d" pkg="dem_predictor" type="prepare_data_s2d.py" output="screen">
        <param if="$(eval filter_cloud)" name="cloud_topic" value="$(arg local_cloud_topic)_bigbox"/>
        <param unless="$(eval filter_cloud)" name="cloud_topic" value="$(arg local_cloud_topic)"/>
        <param name="odom_topic" value="$(arg odom_topic)"/>
        <param name="grid_res" value="$(arg grid_res)"/>
    </node>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(dirname)/../config/traversability.rviz"/>

</launch>
