<?xml version="1.0" encoding="UTF-8" ?>

<launch>
    <arg name="reward_cloud_topic" default="reward_cloud"/>
    <arg name="pts_proximity_th" default="0.22"/>
    <arg name="gpu_id" default="0"/>

    <node name="rewards_accumulator" pkg="rpz_planning" type="rewards_accumulator.py" output="log">
        <rosparam subst_value="true">
            reward_cloud_topic: $(arg reward_cloud_topic)
            pts_proximity_th: $(arg pts_proximity_th)
            reward_cloud_rate: 1.0
            gpu_id: $(arg gpu_id)
<!--            max_age: 10.0-->
        </rosparam>
    </node>

</launch>
