<launch>
    <arg name="robot" default="X1"/>
    <arg name="robot_type=" default="explorer_x1"/>
    <arg name="points_slow_filtered" default="points_slow_filtered"/>

    <node name="rpz_planner" pkg="rpz_planning" type="rpz_planner" output="screen">
        <rosparam subst_value="true">
            map_frame: subt
            robot_frame: $(arg robot)/base_footprint
            max_age: 1.0
            num_cameras: 1
            num_iters: 25
            map_step: 2
            path_step: 2
            linear_speed: 1.0
            angular_speed: 1.0
<!--            device: cuda:0-->
            device: cpu
        </rosparam>
        <rosparam if="$(eval robot_type == 'explorer_x1')">
            num_cameras: 4
        </rosparam>
        <rosparam if="$(eval robot_type == 'marv')">
            num_cameras: 2
        </rosparam>

        <remap from="camera_info_0" to="front/optical/camera_info"/>

        <remap if="$(eval robot_type == 'marv')"
               from="camera_info_1" to="rear/optical/camera_info"/>

        <remap if="$(eval 'explorer_x1' in robot_type.lower())"
               from="camera_info_0" to="front_rgbd/optical/camera_info"/>
        <remap if="$(eval 'explorer_x1' in robot_type.lower())"
               from="camera_info_1" to="left_rgbd/optical/camera_info"/>
        <remap if="$(eval 'explorer_x1' in robot_type.lower())"
               from="camera_info_2" to="right_rgbd/optical/camera_info"/>
        <remap if="$(eval 'explorer_x1' in robot_type.lower())"
               from="camera_info_3" to="rear_rgbd/optical/camera_info"/>

        <remap from="map" to="local_map"/>
        <remap from="path" to="path"/>
        <remap from="rpz" to="traversability"/>
    </node>
</launch>